*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: rgb(35, 35, 43);
}

.container {
    max-width: 600px;
    margin: 4rem auto;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px dashed palegoldenrod;
    color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;

}